@model IEnumerable<Lerua_Shop.Models.ViewModels.Account.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (!Model.Any())
{
    <h4 class="text-center">You have no orders</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                Order Details
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @foreach (var product in item.ProductsAndQuantity)
                    {
                        @product.Key @: x @product.Value <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)€
                </td>
            </tr>
        }

    </table>
}
